@use '@ui' as ui;

.pagination {
  display: flex;
  align-items: center;
  gap: 1.875em;

  &__arrow {
    display: flex;
    align-items: center;
    background-color: inherit;
    color: ui.$lightYellow;
    border: none;
    padding: 4px 10px;
    cursor: pointer;

    &_left {
      transform: rotate(180deg);
    }
  }

  &__pages {
    display: flex;
    align-items: center;
  }

  &__pageButton {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    background-color: inherit;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.3;
    color: ui.$gray;

    &_active {
      background: linear-gradient(
        90deg,
        rgba(255, 198, 80, 0.3) 0%,
        rgba(254, 202, 110, 0.3) 97.25%
      );
    }
  }
}
