@use '@ui' as ui;

.mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  &__image {
    width: 20px;
    height: 20px;
  }

  &__address {
    font-weight: 600;
    line-height: 1.3;
    color: ui.$black;
  }

  &__correction {
    font-size: 0.75rem;
    color: ui.$gray;
  }
}
