@use './colors.scss' as colors;

%button-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$lightYellow;
  border: none;
  cursor: pointer;
}

%button-collapse {
  @extend %button-styles;
  border-radius: 79px;
  font-weight: 700;
}

%button-round {
  @extend %button-styles;
  border-radius: 50%;
}

@mixin button-round($width, $color) {
  @extend %button-round;
  width: $width;
  height: $width;
  color: $color;
}

@mixin button-with-text($padding-top, $padding-left, $gap, $font-size, $color) {
  @extend %button-collapse;
  gap: $gap;
  padding: $padding-top $padding-left;
  font-size: $font-size;
  color: $color;
}
