@use '@ui' as ui;

%borders {
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}

.selectProduct {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.625em;

  &__price {
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 1.3;
    color: ui.$black;
  }

  &__submit {
    @include ui.button-with-text(18px, 40px, 12px, 0.625rem, #ffffff);
  }

  &__share {
    @extend %borders;
    background-color: inherit;
    padding: 1.688em;
    border: none;
    cursor: pointer;
  }

  &__image {
    width: 24px;
    height: 24px;
  }

  &__info {
    @extend %borders;
    flex: 0 1 320px;
    padding: 1.313em 2.25em;
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: center;
    color: ui.$gray;
  }
}

@media (max-width: 400px) {
  .selectProduct {
    &__share {
      margin-left: auto;
    }

    &__info {
      flex: 1 1 auto;
    }

    &__priceList {
      flex: 1 1 auto;

      & > * {
        width: 100%;
      }
    }
  }
}
