@use '@ui' as ui;

.mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  color: inherit;

  &__image {
    width: 20px;
    height: 20px;
  }

  &__address {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3;

    &_header {
      color: ui.$black;
    }

    &_footer {
      color: inherit;
    }
  }

  &__correction {
    font-size: 0.75rem;

    &_header {
      color: ui.$gray;
    }

    &_footer {
      color: inherit;
    }
  }
}
