@use '@ui' as ui;

.phone {
  display: flex;
  align-items: center;
  gap: 14px;

  &__container {
    &_header {
      text-align: right;
    }
  }

  &__numbers {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 5px;

    &_header {
      color: ui.$black;
    }

    &_footer {
      color: inherit;
    }
  }

  &__timeWork {
    font-weight: 300;
    font-size: 0.75rem;
    margin-bottom: 5px;

    &_header {
      color: ui.$gray;
    }

    &_footer {
      color: inherit;
    }
  }

  &__order {
    background-color: inherit;
    font-size: 0.625rem;
    text-decoration-line: underline;
    border: none;
    cursor: pointer;

    &_header {
      color: ui.$gray;
    }

    &_footer {
      color: inherit;
    }
  }

  &__imageContainer {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 29px;
      right: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid #f0f6fa;
      background-color: #1fd85d;
    }
  }
}
