@use '@ui' as ui;

.priceListButton {
  &_lightYellow {
    @include ui.button-with-text(21px, 44px, 15px, 0.875rem, #ffffff);
  }

  &_white {
    padding: 1.875em 2.375em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: inherit;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.875rem;
    color: ui.$gray;
    cursor: pointer;
  }
}
