@use '@ui' as ui;

.specifications {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__key {
    font-weight: 300;
    color: ui.$gray;
    margin-right: 5px;
  }

  &__value {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5;
    color: ui.$black;
  }
}
