@use '@ui' as ui;

.admin {
  margin-bottom: 4em;

  &__title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: ui.$black;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }

  &__error {
    @include ui.error(2rem);
  }
}
