@use '@ui' as ui;

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 2.813em;
  margin-bottom: 6.25em;

  &__error {
    text-align: center;
    font-size: 2rem;
    color: rgb(223, 121, 121);
  }

  &__title {
    grid-column: 1/3;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: ui.$black;
  }

  &__sort {
    grid-column: 3/5;
    justify-self: end;
  }

  &__filter {
    grid-column: 1/5;
  }

  &__leftFilters {
    grid-column: 1/2;
    padding-right: 4.375em;
  }

  &__priceAndManufacturer {
    margin-bottom: 2.5em;
  }

  &__productList {
    grid-column: 2/5;
  }

  &__pagination {
    grid-column: 2/5;
    justify-self: center;
    margin-top: 20px;
  }

  &__text {
    grid-column: 2/5;
    margin-top: 2.375em;
  }
}

@media (max-width: 700px) {
  .catalog {
    &__title {
      grid-column: 1/5;
    }

    &__sort {
      grid-row: 3/4;
      grid-column: 1/5;
      justify-self: left;
    }

    &__filter {
      display: none;
    }

    &__leftFilters {
      grid-column: 1/5;
      padding-right: 0;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    &__productList {
      grid-column: 1/5;
    }

    &__pagination {
      grid-column: 1/5;
    }

    &__text {
      grid-column: 1/5;
    }
  }
}

@media (max-width: 480px) {
  .catalog {
    margin-bottom: 6.25em;

    &__leftFilters {
      grid-column: 1/5;
      padding-right: 0;
      display: block;
    }

    &__pagination {
      grid-column: 1/5;
      margin-top: 15px;
    }

    &__text {
      grid-column: 1/5;
      margin-top: 0.313em;
    }
  }
}
