@use '@ui' as ui;

.breadcrumbs {
  margin-top: 2.813rem;

  &__value {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.2;
    color: ui.$gray;

    &_last {
      opacity: 0.5;
    }

    &:not(:last-child) {
      padding-right: 0.625rem;
      margin-right: 0.625rem;
      border-right: ui.$border-dashed;
    }
  }

  &__goBack {
    display: none;
  }
}

@media (max-width: 600px) {
  .breadcrumbs {
    &__container {
      display: none;
    }

    &__goBack {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: inherit;
      border: none;
    }

    &__goBackImageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: ui.$lightYellow, $alpha: 0.3);
      border: none;
      cursor: pointer;
      padding: 10px 13px;
      border-radius: 50%;
      transform: rotate(180deg);
      color: ui.$gray;
    }

    &__goBackText {
      font-weight: 600;
      font-size: 0.625rem;
      line-height: 1.2;
      letter-spacing: 0.14em;
      text-transform: uppercase;
    }
  }
}
