@use '@ui' as ui;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: ui.$black, $alpha: 0.5);
  z-index: 1;
  overflow: hidden;

  &__inner {
    position: relative;
    padding: 7.188rem 6.688rem 8.375rem;
    background-color: #ffffff;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    cursor: pointer;
    background-color: inherit;
    border: none;
  }

  &__closeImage {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 500px) {
  .popup {
    &__inner {
      padding: 30px 15px 40px;
    }
  }
}
